/* Variables */
:root {
  --primary: #f39237;
  --secondary: #06aed5;
  --background-color: #f4f7f5;
  --font-color-dark: #08090a;
  --font-color-light: #ffffff;
  --croissant-One: 'Croissant One', cursive;
  --mooli: 'Mooli', sans-serif;
  --Teach-Lead: #23ce6b;
  --Product-Owner: #f24236;
  --Scrum-Master: #f5bb00;
  --Dev: #59d2fe;
  --box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background-color);
  color: var(--font-color-dark);
  font-family: var(--mooli);
  font-size: 10px;
}

/* Globals */
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Nav */
h1 {
  font-size: 3rem;
  font-family: var(--croissant-One);
}
nav {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  margin-right: 4rem;
}
a {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--font-color-light);
}
a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 2px;
}
a:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* About */
main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
h2 {
  font-size: 2.5rem;
  color: var(--secondary);
  margin: 2rem;
}
.presentation > h3 {
  color: var(--primary);
  font-size: 1.7rem;
  font-weight: 900;
  text-decoration: underline;
}
.presentation > p > .emoji {
  font-size: 2rem;
}
.presentation > p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
}
.objet {
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.objet > h3 {
  color: var(--primary);
  font-size: 1.7rem;
  font-weight: 900;
  text-decoration: underline;
}
.objet > p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
}
.container-languages {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.container-languages > h3 {
  color: var(--primary);
  font-size: 1.7rem;
  font-weight: 900;
  text-decoration: underline;
  font-size: 1.5rem;
}
.container-languages > ul.languages {
  display: flex;
  align-items: center;
}
.container-languages > ul.languages > li {
  font-size: 1.5rem;
  margin-left: 2rem;
  font-weight: 900;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: var(--font-color-light);
}
.container-languages > ul.languages > li:nth-child(1) {
  background-color: orangered;
}
.container-languages > ul.languages > li:nth-child(2) {
  background-color: lightskyblue;
}
.container-languages > ul.languages > li:nth-child(3) {
  background-color: gold;
}

/* DEV Team Part */
section {
  background: #eee;
  width: 100%;
  box-shadow: var(--box-shadow);
  /* padding: 0rem 1rem 1rem 1rem; */
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 2rem 0;
}
section > h3 {
  color: var(--primary);
  font-size: 1.8rem;
  padding: 2rem 0;
  text-align: center;
}
.container-members {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 1.2rem;
}

.container-members > .member {
  margin: 0 1.2rem;
  border-right: 1px solid black;
}
.container-members > .member > h4 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 0.5rem 0 0 0.5rem;
  -webkit-border-radius: 0.5rem 0 0 0.5rem;
  -moz-border-radius: 0.5rem 0 0 0.5rem;
  -ms-border-radius: 0.5rem 0 0 0.5rem;
  -o-border-radius: 0.5rem 0 0 0.5rem;
  color: var(--font-color-light);
}
.container-members > .member > h4#scrum_master {
  background-color: var(--Scrum-Master);
}
.container-members > .member > h4#product_owner {
  background-color: var(--Product-Owner);
}
.container-members > .member > h4#dev {
  background-color: var(--Dev);
}
.container-members > .member > h4#tech_lead {
  background-color: var(--Teach-Lead);
}
.container-members > .member > ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.container-members > .member > ul > li {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 0;
  display: flex;
  align-items: center;
}
.container-members > .member > ul > li > i {
  color: var(--primary);
  margin-left: 0.5rem;
}

/* Table planning */
section.planning {
  width: 100%;
}
caption {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1.2rem;
  margin-top: 2rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5.5rem;
  font-size: 1.2rem;
}
thead {
  font-size: 1.7rem;
}
th,
td {
  border: 1px solid #a0a0a0;
  text-align: left;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
td {
  font-size: 1.5rem;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.tech_lead {
  background: var(--Teach-Lead);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 900;
}
.product_owner {
  background: var(--Product-Owner);
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-weight: 900;
}
.scrum_master {
  background: var(--Scrum-Master);
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-weight: 900;
}
.dev {
  background: var(--Dev);
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-weight: 900;
}
/* Form */
.form {
  margin: 0 auto;
  padding: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  min-width: 80vw;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.text__form {
  border-right: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80vh;
}
.text__form > h3 {
  font-size: 2rem;
}
form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0 2rem 4rem;
  min-width: 50%;
}
form label {
  margin: 1.5rem 0;
  font-size: 2rem;
  text-align: left;
}
form label + input {
  padding: 1rem;
  width: 70rem;
  height: 7rem;
}
form label + input::placeholder {
  font-size: 1.8rem;
}
form label + textarea::placeholder {
  font-size: 1.8rem;
  padding: 2rem;
}
form label + *:focus {
  outline: 2px solid var(--primary);
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
form textarea {
  resize: none;
  overflow-y: auto;
}
form button {
  margin: 2rem 0 0 0;
  padding: 2rem;
  font-size: 2rem;
  background-color: var(--primary);
  border: none;
  color: var(--font-color-light);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: black;
  padding: 1.5rem;
  color: var(--font-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer > p {
  text-align: center;
  font-size: 1.2rem;
}
.devs {
  background-color: #202020;
  width: 50%;
  margin-top: 1.5rem;
  padding: 1.5rem;
}
.devs > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.5rem;
}
.devs > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 4.5rem;
  padding: 1rem 2rem;
}
.devs > ul > li > strong {
  color: var(--primary);
  font-size: 1.3rem;
}
/* Media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    padding: 1.2rem;
  }
  .container-members > .member > h4 {
    font-size: 1rem;
    padding: 1rem;
  }
  .container-members > .member > h5 {
    font-size: 1.3rem;
    text-align: center;
    padding: 1.2rem;
  }
  .container-members > .member > ul > li {
    font-size: 1rem;
  }

  /* Table planning */
  td > .tech_lead {
    background: var(--Teach-Lead);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }
  td > .product_owner {
    background: var(--Product-Owner);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
}
  td > .scrum_master {
    background: var(--Scrum-Master);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }
  td > .dev {
    background: var(--Dev);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }

  /* Form */
  .form {
    display: flex;
    flex-flow: column;
    min-width: 80vw;
  }
  .text__form {
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid #000;
    margin-bottom: 1.5rem;
  }

  form label {
    margin: 1.5rem 0;
    font-size: 2rem;
    text-align: left;
  }
  form label + input {
    padding: 1rem;
    width: 40rem;
    height: 7rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  main {
    width: 100%;
    padding: 1.2rem;
  }
  .container-members > .member > h4 {
    font-size: 1rem;
    padding: 1rem;
  }
  .container-members > .member > h5 {
    font-size: 1.3rem;
    text-align: center;
    padding: 1.2rem;
  }
  .container-members > .member > ul > li {
    font-size: 1rem;
  }

  /* Table planning */
  td > .tech_lead {
    background: var(--Teach-Lead);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }
  td > .product_owner {
    background: var(--Product-Owner);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
}
  td > .scrum_master {
    background: var(--Scrum-Master);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }
  td > .dev {
    background: var(--Dev);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }

  /* Form */
  .form {
    display: flex;
    flex-flow: column;
    min-width: 80vw;
  }
  .text__form {
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid #000;
    margin-bottom: 1.5rem;
  }

  form label {
    margin: 1.5rem 0;
    font-size: 2rem;
    text-align: left;
  }
  form label + input {
    padding: 1rem;
    width: 50rem;
    height: 7rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    width: 100%;
    padding: 1.2rem;
  }
  .container-members > .member > h4 {
    font-size: 1rem;
    padding: 1rem;
  }
  .container-members > .member > h5 {
    font-size: 1.3rem;
    text-align: center;
    padding: 1.2rem;
  }
  .container-members > .member > ul > li {
    font-size: 1rem;
  }

  /* Table planning */
  td > .tech_lead {
    background: var(--Teach-Lead);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }
  td > .product_owner {
    background: var(--Product-Owner);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
}
  td > .scrum_master {
    background: var(--Scrum-Master);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }
  td > .dev {
    background: var(--Dev);
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: 900;
    display: block;
  }
}
